<h1><%= title %></h1>
<p>Welcome to <%=title%></p>
<p>Current time is <span id="current-time"></span></p>
<div>
  <a href="/users/new">Add A User</a>
</div>
<h2>Users</h2>
<ul>
 <%- partial('user', users) %> 
</ul>
