<form action="/users/new" method="post">
  <label>First Name: </label>
  <input type="text" name="user[firstName]"/>
  <br/> <!-- I'm lazy -->
  <label>Last Name: </label>
  <input type="text" name="user[lastName]"/>
  <br/> 
  <input type="submit" value="Save"/>
</form>
